<section class="section bg-dark about-section d-shape">
    <div class="container-fluid">
        <div class="row">
                <div class="col-lg-7">                    
                    <div class="section-heading ">
                        <span>Abouts Us</span>
                    </div>
                    <div class="section-content">
                        <p class="text-justify">ATTOMUS is an advanced technology company offering security services, technology applications, and management consultancy for corporations and government entities in the UK and globally. Our services are geared at optimising processes and business management across vertical and horizontal firms that need advanced technological solutions for security, risk management, and to generate business growth. We are a UK-based company that merges quality security knowledge and experience with customised sustainable solutions and services. As an integrated security and technology company, we offer strategic and operational business solutions. We also deliver Project Management as a Service providing professional support for discreet and effective management of complex projects requiring expert knowledge.</p>

                        
                    <div class="btn-list">
                        
                            <a class="default-btn" href="/about/">Read more...</a>
                        
                    </div>

                    </div>
                </div>
                
                <div class="col-lg-5 mt-4 mt-md-0">                    
                    <div class="image-container right-pos">
                        <img src="{{"/images/about.png" | relURL}}" alt="who us" class="img-fluid">
                    </div>
                </div>
        </div>
    </div>
</section>