<section class="section  blog-section">
    <div class="container">
        <div class="row mb-4">
            <div class="col-12">                                   
                <div class="section-heading text-center">
                    <span class="green">Blog</span>
                    <h2>Latest news from our blog</h2> 
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="single-blog">
                    <a href="#">
                        <img src="{{"/images/blog-1.jpg" | relURL}}" alt="Image" class="img-fluid">
                    </a>
                    <div class="single-blog-content">
                        <p class="cal mb-0"><i class="fa fa-calendar"></i> 2021-03-11</p>
                        <ul class="tags-list">
                            <li><a href="#">#cybersecurity</a></li>, 
                            <li><a href="#">#remote-working</a></li>, 
                            <li><a href="#">#ciso</a></li>, 
                            <li><a href="#">#employees</a></li>
                        </ul>
                        <h3>
                                Should Employee Training include 
                                CyberSecurity?
                        </h3>
                        <p>Let me start by stating the obvious - it pays to offer continuous and comprehensive employee training. 
                            A Life with Health CEO Aimee Tariq explains why in her article ‘4 Big Benefits of Improved Employee Training’. </p>
                        <a href="#"> Read  More <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="single-blog">
                    <a href="#">
                        <img src="{{"/images/blog-1.jpg" | relURL}}" alt="Image" class="img-fluid">
                    </a>
                    <div class="single-blog-content">
                        <p class="cal mb-0"><i class="fa fa-calendar"></i> 2021-03-11</p>
                        <ul class="tags-list">
                            <li><a href="#">#cybersecurity</a></li>, 
                            <li><a href="#">#remote-working</a></li>, 
                            <li><a href="#">#ciso</a></li>, 
                            <li><a href="#">#employees</a></li>
                        </ul>
                        <h3>
                                Should Employee Training include 
                                CyberSecurity?
                        </h3>
                        <p>Let me start by stating the obvious - it pays to offer continuous and comprehensive employee training. 
                            A Life with Health CEO Aimee Tariq explains why in her article ‘4 Big Benefits of Improved Employee Training’. </p>
                        <a href="#"> Read  More <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="single-blog">
                    <a href="#">
                        <img src="{{"/images/blog-1.jpg" | relURL}}" alt="Image" class="img-fluid">
                    </a>
                    <div class="single-blog-content">
                        <p class="cal mb-0"><i class="fa fa-calendar"></i> 2021-03-11</p>
                        <ul class="tags-list">
                            <li><a href="#">#cybersecurity</a></li>, 
                            <li><a href="#">#remote-working</a></li>, 
                            <li><a href="#">#ciso</a></li>, 
                            <li><a href="#">#employees</a></li>
                        </ul>
                        <h3>
                                Should Employee Training include 
                                CyberSecurity?
                        </h3>
                        <p>Let me start by stating the obvious - it pays to offer continuous and comprehensive employee training. 
                            A Life with Health CEO Aimee Tariq explains why in her article ‘4 Big Benefits of Improved Employee Training’. </p>
                        <a href="#"> Read  More <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>