<section class="section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 d-flex mb-4 mb-lg-0">
                <div class="box-features">
                    <h3><img src="{{"/images/bug.png" | relURL}}" alt="Security"> Security</h3>
                    <p>On any given day your company could be the victim of data breaches, hacks, ransomware attacks – and that’s just the tip of the iceberg. Not only can that lead to compromised client information, but you can face financial losses, hefty fines, reduced business, and a ruined company reputation.</p>                    
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 d-flex mb-4 mb-lg-0">
                <div class="box-features">
                    <h3><img src="{{"/images/physical-security.png" | relURL}}" alt="Security"> Physical Security</h3>
                    <p>Technology or software alone cannot prevent or protect your organisation from cyber threats or physical breaches

                    </p>                    
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 d-flex mb-4 mb-lg-0">
                <div class="box-features">
                    <h3><img src="{{"/images/technology.png" | relURL}}" alt="Security"> Technology Services</h3>
                    <p>You need a comprehensive security services firm that specialises in cybersecurity and physical security. An Atlassian Solutions Partner skilled in digital security. A cybersecurity firm that offers advisory, architecture, managed security, and incident response services</p>                    
                </div>
            </div>
        </div>
    </div>
</section>