<section class="section cta">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 text-center"> 
                <div class="cta-container">                    
                    <h4>Global track record</h4>
                    <i class="fa fa-thumbs-o-up"></i>
                    <p>ATTOMUS is a specialist risk management, security, and technology firm 
                        helping government institutions and corporates understand and mitigate threats.</p>

                        <a href="#" class="default-btn">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</section>