<section class="section bg-light about-section">
    <div class="container-fluid">
        <div class="row mb-4">
            <div class="col-12">                                   
                <div class="section-heading text-center">
                    <span class="green">Our Services</span>
                    <h2>We’ll help you plan, mitigate, and respond effectively</h2> 
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-sm-6 mb-4 mb-md-0">
                <div class="service-box text-center d-flex justify-content-between">
                    <div class="img-container">
                        <img src="{{"/images/delivery-icon.png" | relURL}}" alt="Malware Detection Removal">
                    </div> 
                    <div class="service-content">                                          
                        <h3 class="my-2">Delivery</h3>
                        <p>Improve organisational performance with Attomus’s high quality Programme Management and Delivery team.</p>
                    </div>                     
                    <div class="mt-4">
                        <a href="#" class="default-btn ">Learn More</a>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 mb-md-0">
                <div class="service-box text-center d-flex justify-content-between">
                    <div class="img-container">
                        <img src="{{"/images/investigation.png" | relURL}}" alt="Malware Detection Removal">
                    </div>
                    <div class="service-content">                         
                        <h3 class="my-2">Investigations</h3>
                        <p>Discreet and secure surveillance, private investigations and counter-surveillance training for high-risk assets.</p>
                    </div>
                    <div class="mt-4">
                        <a href="#" class="default-btn ">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 mb-md-0">
                <div class="service-box text-center d-flex justify-content-between">
                    <div class="img-container">
                        <img src="{{"/images/security.png" | relURL}}" alt="Malware Detection Removal">
                    </div> 
                    <div class="service-content">  
                        <h3 class="my-2">Security</h3>
                        <p>Security threats are more sophisticated and organised. They are delivered by skilled individuals within and outside your organisation. </p>
                    </div>
                    <div class="mt-4">
                        <a href="#" class="default-btn ">Learn More</a>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-sm-6 mb-4 mb-md-0">
                <div class="service-box text-center  d-flex justify-content-between">
                    <div class="img-container">
                        <img src="{{"/images/technology-icon.png" | relURL}}" alt="Malware Detection Removal">
                    </div>  
                    
                    <div class="service-content">
                        <h3 class="my-2">Technology</h3>
                        <p>Businesses face increasing security concerns, economic pressures, and tightening regulatory environment. </p>
                    </div>
                    <div class="mt-4">
                        <a href="#" class="default-btn ">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>