<section class="section bg-light who">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="image-container">
                    <img src="{{"/images/why.png" | relURL}}" alt="who us" class="img-fluid">
                </div>

            </div>
            <div class="col-lg-6 col-md-12">
                <div class="section-heading">
                    <span>Who are we?</span>
                </div>
                <div class="section-content">
                    <p>ATTOMUS is a specialist risk management, security, and technology firm helping government institutions and private organisations meet today’s complex security challenges. We offer a turnkey solution for physical and digital security that embraces cutting-edge technology with acute human intelligence to secure your most valuable assets.</p>
                    <ul class="who-list">
                        <li>
                            <div class="icon">
                                <img src="{{"/images/security-icon.png" | relURL}}" alt="ATTOMUS Security">
                            </div>
                            <h3>ATTOMUS Security</h3>
                            <p>End-to-end solutions for comprehensive tailored security</p>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="{{"/images/advance.png" | relURL}}" alt="ATTOMUS Security">
                            </div>
                            <h3>Advanced Solutions To Meet Global Threats</h3>
                            <p>Hybrid IT and Physical Services for greater protection</p>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="{{"/images/industry.png" | relURL}}" alt="ATTOMUS Security">
                            </div>
                            <h3>Industry-Leading Tech Provider</h3>
                            <p>Advanced technological solutions for enhanced operations </p>
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
</section>