$fontbody: 'Raleway', sans-serif;
$fonthead: 'Montserrat', sans-serif;
$primary: #00a99d;


html{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    // font-family: 'Roboto', sans-serif;
    font-family: $fontbody ;
    font-weight: 500;
    line-height: 1.7rem;
}
h1, h2, h3, h4, h5, h6{
    font-family: $fonthead ;
}
ul, li{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none !important;
    &:hover{
        color: #00a99d;
    }

}
.container-fluid{
    width:96%;
}
.section{
    padding: 120px 0px;

    &.partners{
        padding: 80px 0px;
    }
}
.bg-light{
    background: #f9fafb;
}
.bg-dark{
    background: #000 !important;
    color: #fff;
    .section-heading    {
        span{
            background: #00a99d;
        }
        h2{
            color: #fff;
        }
        
    }
}
.top-bar{
    border-bottom: 1px solid 1px solid rgba(0, 169, 157, 0.2);
    transition: all ease 0.5s;
    background-color: #000;
    padding: 15px 0;
    .top-head-left {
        li{
            display: inline-block;
            padding-right: 20px;
            color: #ffffff;
            font-size: 14px;
            a{
                display: inline-block;
                color: #fff;
                &:hover{
                    color: #00a99d;
                }
            }
        }
    }
}
.social{
    margin: 0px;
    padding: 0px;
    li{
        display: inline-block;
        margin-left:5px;
        a{
            color: #fff;
            font-size: 20px;
            &:hover{
                color: #00a99d;
            }
        }
    }
}

.main-nav {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    height: auto;
    box-shadow: none;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 2px solid rgba(0, 169, 157, .5);
    border-top: 2px solid rgba(0, 169, 157,  .5);
    /*background-color: rgba(0, 169, 157, 0.1);*/
    background: #000;

    .navbar.navbar-expand-md{
        padding-left: 0px;
        padding-right: 0px;

        .navbar-toggler{
            color: #fff;
            border: 1px solid #fff;
            outline: none !important;
        }
        

        .navbar-brand img{
            max-width: 196px;
        }
        .navbar-nav{
            .nav-item {
                position: relative;
                padding: 15px 0;

                a {
                    font-size: 14px;
                    color: #fff;
                    text-transform: uppercase;
                    transition: all .5s;
                    margin-left: 0;
                    margin: 0 10px;
                    position: relative;
                    font-weight: 500;

                    &.active{
                        background: #00a99d;
                        border-left:3px solid #fff;
                        &:hover{ color: #fff; }

                    }
                }

                &:hover > a{
                    color: #00a99d;
                }
            }

            .dropdown-menu{
                background: #00a99d;
                border: 0px 0px .25rem .25rem;
                line-height: 1.7em;

                &:before{
                    content: "";
                    display: block;
                    position: absolute;
                    top: -7px;
                    left: 28px;
                    border: 8px solid #fff;
                    border-color: transparent transparent #00a99d #00a99d;
                    transform: translateX(-50%) rotate(135deg);
                    box-shadow: -2px 2px 3px rgba(57,73,76,.1);
                }

                a.dropdown-item{
                    margin: 0px;
                    font-size: 13px;
                    padding-left: 1.5em;

                    &:hover{
                        color: #00a99d;
                    }
                }
            }

           
        } 
    }
}

.hero{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
    z-index: 1;
    padding-top: 220px;
    padding-bottom: 100px;
    background-color: #000;
    color: #fff;
    min-height: calc(100vh);
    display: flex;
    justify-content: center;
    align-items: center;

    .banner-text{
        .hero-sub{
            font-size:16px;
            color: #fff;

            &:before{
                content: "";
                width: 30px;
                height: 2px;
                background: #00a99d;
                display: inline-block;
                margin-bottom: 5px;
                margin-right: 5px;
            }
        }
        h1{
            font-size: 48px;
            font-weight: 700;
            line-height: 1.5em;
            margin: 40px 0px;
        }
    }

    .banner-info{
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 20px;
    }

    &.inner{
        padding: 250px 50px 150px;
        position: relative;
        min-height: auto !important;
        background-position: center;

        &::before {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            content: "";
            width: 100%;
            height: 100%;
            background:rgba(0, 0, 0, 0.5);
        }

        &::after{
            position: absolute;
            left: 0;
            top: 0;
            content: "";
            height: 100%;
            background-image: url(../images/outline-logo.png);
            z-index: -1;
            width: 35%;
            background-repeat: no-repeat;
            /* z-index: 1; */
            background-size: 50%;
            background-color: #4d4d4d;
            background-position: center 150px;
            display: none;
        }

       

        h1{
            text-transform: uppercase;
            margin-bottom: 0px;
        }
        ul{
            padding-left: 0;
            list-style-type: none;
            margin-top: 10px;
            margin-bottom: -5px;
            li{
                display: inline-block;
                position: relative;
                font-size: 16px;
                padding-right: 15px;
                margin-left: 15px;
                font-weight: 500;

                &::before{
                    content: "";
                    position: absolute;
                    top: 6px;
                    right: -3px;
                    background-color: #00a99d;
                    width: 1px;
                    height: 15px;
                    -webkit-transform: rotate(25deg);
                    transform: rotate(25deg);
                    padding-right: 0px;
                }

                &:last-child{
                    &::before{
                        display: none;
                    }
                }


                a {
                    color: #fff;

                    &:hover{
                        color: #00a99d;
                    }
                }
                &.active{                    
                        color: #00a99d;
                    
                }

            }
        }
    }
    
}

.default-btn{
    padding:12px 30px;
    background: #ffffff;
    color: #565656;
    font-size: 18px;
    font-weight: 500;
    margin-right: 15px;
    transition: all ease 0.5s;

    &:hover{
        background: #00a99d;
        color: #fff;
    }
}

.btn-list{
    margin-top: 80px;

    .default-btn{
        &:nth-child(even){
            border: 2px solid #00a99d;
            background: transparent ;
            color: invert($color: #000000);

            &:hover{                
                background: #00a99d;
            }
        }
    }

}

.box-features{
    background: #000000;
    padding: 30px;
    position: relative;
    z-index: 1;
    height: 100%;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 8px;
        height: 100%;
        background-color: #00a99d;
        z-index: -1;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 0%;
        height: 100%;     
        background-color: #00a99d;
        z-index: -1;
        transition: all .6s ease;
    }

    h3 {
        color: #fff;
        position: relative;
        margin-bottom: 30px;
        transition: all .5s;
        font-size: 26px;
        font-weight: 500;

        img{
            max-width: 52px;
            margin-right: 15px;
        }
    }
    p {
        color: #fff;
        margin-bottom: 0;
        font-size: 16px;
        font-weight: 400;
    }

    &:hover::after {
        left: 0;
        right: auto;
        width: 100%;
    }
}

.service-box{    
    background: #000000;
    padding: 30px;
    position: relative;
    z-index: 1;
    height: 100%;
    color: #fff;
    flex-direction: column;

    .img-container{
        height: 85px;
        img{
            max-width: 80px;
        }
    }

    h3{
        font-size: 24px;
        margin-bottom: 25px !important;
    }
    p {
        font-size: 16px;    
        line-height: 1.5em;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0;
        background: #00a99d;
        opacity: .8;
        z-index: -1;
        transition: all .6s ease;
    }

    &:hover::after {
        height: 100%;
        top: 0;
        bottom: auto;
    }
    &.partneroffer{
        .img-container{
            height: 64px;
            width: 64px;
            background: #9efbf4;
            border-radius: 50%;
            padding: 10px;
            margin-bottom: 20px;
            img{
                max-width: 100%;
            }
        }

        &:hover{
            .img-container{
                
            background: #fff;

            }
        }
    }
}

.image-container{
    text-align: center;
    position: relative;
    z-index: 1;
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 15px;
    margin-bottom: 30px;

    img{
        border-radius: 5px;
    }


    &::before{
        content: "";
        position: absolute;
        left: -30px;
        top: -30px;
        z-index: -1;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        background: #00a99d;
        background-size: cover;
    }

    &.right-pos{        
        margin-right: 30px;        
        margin-left: 15px;
        &::before{
            right: -30px;
            left: auto;
        }
    }
}


.section-heading{
    span {
        margin-bottom: 15px;
        color: #fff;
        font-weight: 500;
        background: #000;
        padding: 7px 12px;
        display: inline-block;

        &.green{
            background: #00a99d;
        }

    }
    h2 {
        font-size: 32px;
        font-weight: 500;
        margin-bottom: 15px;
        position: relative;
        line-height: 1.6em;
    }
}
.section-content{
    margin-top: 15px;

    .who-list{
        padding-left: 0;
        list-style-type: none;
        margin-top: 30px;
        margin-bottom: 0;
        list-style: none;

        li{
            position: relative;
            margin-bottom: 40px;
            padding-left: 80px;

            .icon{
                position: absolute;
                left: 0;
                top: 4px;
                width: 60px;
                text-align: center;
                height: 60px;
                font-size: 50px;
                border-radius: 5px;
                border: 1px solid #00a99d;
                transition: .5s;
                line-height: 1.1em;

                img{
                    max-width: 50%;
                }
            }
            h3{
                font-size: 20px;
                font-weight: 600;
            }

            &:hover{
                .icon{
                    background: #00a99d;
                    color: #fff;
                }

                h3{
                    color: #00a99d;
                }
                
            }
        }
    }
}

.tabs-outter{
    .nav{
        .nav-item{            
            font-size: 18px !important;
            font-weight: 500;
            color: #fff;
            border: 0px;            
            background-color: transparent;
            &:hover, &.active{
                border: 0px;
                color: #00a99d;                
                border-color: transparent transparent #f3f3f3;
                border-bottom: 2px solid !important;
            }
        }
    }
}

.single-blog{
    margin-bottom: 30px;
    // position: relative;
    .single-blog-content{
        background: #f9f9f9;
        padding: 15px;
        position: relative;
        z-index: 2;
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0;
            background: #00a99d;
            opacity: .8;
            z-index: -1;
            transition: all .6s ease;
        }
        .cal{
            color: #969696;
            font-weight: 500;
            i{
                color: #00a99d;
                margin-right: 5px;
            }
        }
        h3 {               
                font-size: 20px;
                margin: 10px 0px;
                color: #000;
                line-height: 1.7rem;
        }
        p{
            color: #666666;
        }
        a{
            color: #00a99d;
            font-weight: bold;

            &:hover{
                color: #fff;
            }
        }

        .tags-list{
            list-style: none;
            li{
                display: inline-block;
                a{
                    color: #969696;
                    font-weight: 500;
                    font-size: 13px;

                    &:hover{
                        color: #00a99d;
                    }
                }
            }
        }

        
        

    
    }

    &:hover{
        box-shadow: 0px 3px 6px rgba(0,0,0,0.4);
        transition: all .9s ease;

        .single-blog-content{
            /*background: #00a99d;*/
            color: #fff;

            .cal, h3, p, a {
                color: #fff;
                i{
                    color: #fff;
                }
            }
            .tags-list{
                li a{
                    color: #fff;
                }
            }

            &::after {
                height: 100%;
                top: 0;
                bottom: auto;
            }
        }
    }
}

.cta{
    overflow: hidden;
    position: relative;
    background: #000;
    color: #fff;
    padding: 100px 0px;

    &:after {
        right: 50%;
        bottom: -40%;
        width: 600px;
        height: 600px;
        z-index: 0;
        content: "";
        border-radius: 50%;
        position: absolute;
        background-color: #252525;
        transform: translateX(50%);
    }

    .cta-container{
        position: relative;
        z-index: 2;

        h4{
            color: #fff;
            font-size: 36px;
            font-weight: 500;
            text-transform: uppercase;
            margin-bottom: 30px;
        }
        i{
            color: #1b5a55;
            font-size: 74px;
            margin: 15px 0px;
        }
        p{
            font-size: 16px;
            line-height: 2em;
            margin: 15px 0px 40px;
        }
    }
}

/* Slider */

.slick-slide {
    margin: 0px 10px;
    p{
        /*display: none;*/
    }
    a{
        min-height: 190px;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    img {
        width: 100%;
      }
      .client-name{
        padding: 8px 4px;
        text-align: center;
        font-family: $fonthead ;
        font-weight: 400;
      }
  }
  
  .slick-slider
  {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;

    .slick-track,   .slick-list
    {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
            -o-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
  }
  
  .slick-list
  {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    &:focus{
      outline: none;
    }
    &.dragging
    {
      cursor: pointer;
      cursor: hand;
    }
  }
  
  
  .slick-track
  {
    position: relative;
    top: 0;
    left: 0;
    display: block;
  }
  .slick-track:before,
  .slick-track:after
  {
    display: table;
    content: '';
  }
  .slick-track:after
  {
    clear: both;
  }
  .slick-loading .slick-track
  {
    visibility: hidden;
  }
  
  .slick-slide
  {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
    padding: 5px;
        a{
            box-shadow: 0px 0px 5px rgba(0, 0, 0, .22) !important;
            padding: 8px;
            background: #fff;
        }
  }
  [dir='rtl'] .slick-slide
  {
    float: right;
  }
  .slick-slide img
  {
    display: block;
  }
  .slick-slide.slick-loading img
  {
    display: none;
  }
  .slick-slide.dragging img
  {
    pointer-events: none;
  }
  .slick-initialized .slick-slide
  {
    display: block;
  }
  .slick-loading .slick-slide
  {
    visibility: hidden;
  }
  .slick-vertical .slick-slide
  {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
  .slick-arrow.slick-hidden {
    display: none;
  }

  
.footer {
    padding: 0;
    overflow: hidden;
    background: #252525;
    color: #fff;
    p{
        line-height: 1.8rem;
    }

    a {
        color: #1ba12d;
      }

    .footer-heading {
        font-size: 18px;
        margin-bottom: 30px;
        font-weight: 600;
        color: #fff;
        text-transform: uppercase;
      }
      
  .footer-social li {
        list-style: none;
        margin: 0 10px 0 0;
        display: inline-block;

        a {
            height: 40px;
            width: 40px;
            display: block;
            float: left;
            background: rgba(255, 255, 255, 0.05);
            border-radius: 50%;
            position: relative;

            span {
                position: absolute;
                font-size: 20px;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                color: #fff;
              }

              &:hover{
                background: #1ba12d;
              }
              
          }
    }

    ul.list-unstyled li a {
        color: rgba(255, 255, 255, 0.5);
        text-transform: capitalize;

        &:hover{
            color: #00a99d;
        }
      }

      .aside-stretch-right {
        background: #333333;
      }

  }

  .page-list{
      padding-bottom:100px;

      

    
      
    .img-container{
        position: relative;
        border-radius: 5px;
        transition: .5s;
        min-height: 400px;
        max-height: 400px;
        background-size: cover;
        background-position: center;
        overflow: hidden;


        
      &::before{
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        content: "";
        opacity: .3;
        border-radius: 5px;
        position: absolute;
        background-color: #000;
        transition: all .4s ease;
    }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 0;
            background: #00a99d;
            opacity: .6;
            z-index: 0;
            transition: all .6s ease;
        }
/*
        &:hover{
            transform: scale(1.02);
            color: #fff;
            &::after {
                height: 100%;
                top: auto;
                bottom: 0;
            }
            &::before{                
                opacity: 0;
            }

        }

        */
    }

    .content{
        left: 0;
        bottom: 0;
        z-index: 2;
        padding: 25px;
        position: absolute;
    }
    a{
        color: #fff;
        border-radius: 5px;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 3;
    }

    .box-list{
        position: relative;
        color: #fff;

        &:hover{

            .img-container::after {
                height: 100%;
                top: auto;
                bottom: 0;
            }

        }
        

    }

    
  }

  .d-shape{
      position: relative;
      overflow: hidden;

    &::before{

        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0%;
        background-color: #fff;
        width: 100%;
        transform: skewX(-310deg);
        height: 100%;
        transform-origin: 100% 0;
        opacity: .12;
        content: "";
    }
  }

  .zigzig-shape{

  }

  .main-content{
    .mainsection{
        h2{
            font-weight: 600;
            color: #00a99d;
        }
        .full-content{
            max-width: 545px;
            text-align: justify;
        }
        &:first-child{
            
            background: transparent !important;
            background-color: transparent;
            background-image: linear-gradient(90deg, #FFFFFF00 30%, #F8F8F8 30%) !important;
            overflow: hidden;
            transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
        }

        
        &:nth-child(odd){
            background-color: #fbfbfb;
            .image-full-conainter{
                order: 1;                
                padding-right: 0px;
                padding-left: 15px;
                .image-full{
                    margin-right: -4%;
                    margin-left: 0px;
                }
            }
        }
        .image-full-conainter{
            
            padding-left: 0px;
            .image-full{
                margin-left: -4%;
            }
        }

        .text-content{
            ul{
                li{
                    list-style: none;
                    position: relative;
                    padding-left: 25px;

                    &::before{
                        content: "\f00c";
                        position: absolute;
                        left: 0px;
                        font-family: fontawesome;
                        font-size: 15px;
                        color: #00a99d;
                    }
                }
            }
        }

    }
  }
  .image-main-conainter{
      position: relative;
      padding-left: 5%;
      min-height: 300px;
      &::after{
          content: "";
          background-image: url(/images/doted.png);
          background-repeat: no-repeat;
          position: absolute;
          left: -15%;
          width: 100%;
          height: 70%;
          bottom: -15%;
          z-index: 0;
      }
      &:before{
        content: "";
        border-radius: 50%;
        width: 140px;
        height: 140px;
        background: #00a99d;
        position: absolute;
        left: -5%;
        bottom: -10%;
        z-index: 0;
      }

      img{
        z-index: 1;
        position: relative;
        border-radius: 6px;
        border: 6px solid #00a99d;
        object-fit: cover;
        /*height: 100%;*/
      }

      &.partner{
          min-height: auto;
          &:before{
              
          }
      }

  }
.image-full{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    height: 100%;

}

.partnerform {
    .partner-form{
        .partner-form__col--6{
            margin-bottom: 15px;
        }
        label{
            display: block;
            span{
                color: red;
            }
        }
        input{
            width: 100%;
            font-size: 16px !important;
            line-height: 28px !important;
            padding: 10px 25px !important;
            border: 2px solid #fff;
            border-radius: 6px;
            background: transparent;
            color: #fff;
            outline: none;
        }
        ul {

            li{
                list-style: none;
            }
        }
        .primary-business, .goal-objective, .interest{
            ul{
                display: flex;
                li{
                    width: 25%;
                    label{
                        display: inline-block;
                    }
                    input{
                        width: auto;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}
  
.success-message {
    text-align: center;
    margin: 20px auto;
    width: calc(60% - 20px);
    padding: 50px 0 30px 0;
    border-radius: 0;
    margin-bottom: 50px;
    border: 1px solid #f7f8fa;
    display: none;
    position: relative;
}

.contact-info-box {
    padding: 30px;
    margin-bottom: 30px;
    background-color: #00a99d;
    min-height: 250px;
    flex-direction: column;

    .icon{
        line-height: 1;
        font-size: 24px;
        margin-bottom: 20px;
    }
    a{
        color: #fff;
    }

}

.contact-us__form input, .contact-us__form textarea{
    width: 100%;
    font-size: 16px !important;
    line-height: 28px !important;
    padding: 10px 25px !important;
    border: 2px solid #fff;
    border-radius: 6px;
    background: transparent;
    color: #fff;
    outline: none;

}



@media only screen and (max-width: 767px){
    .header-area .top-bar {
        text-align: center;        
        .top-head-left {
            li{
                margin-bottom: 5px;
            }
        }
    }

    .main-nav .navbar.navbar-expand-md{
        padding-left: 15px;
        padding-right: 15px;
        .nav-item {padding: 8px 0px;
            a{
                padding-left: 15px;
            }
        }

    }
    .hero .banner-text h1{
        font-size: 26px;
    }
    .slick-slide a{
        min-height: 100px;
    }

    .tabs-outter{
        .nav{
            .nav-item{            
                font-size: 14px !important;
                padding-left: 0px;
                padding-right: 0px;
            }
        }
    }

    
    .section-heading{
    
        h2 {
            font-size: 24px;
        }
    }

    .box-features {
        h3{
            font-size: 20px;
            img{
                max-width: 42px;
            }
        }
    }

    .section-content {
        .who-list{
            li {
                h3{
                    font-size: 18px;
                }
            }

        } 
    }

    .service-box{
        h3{
            font-size: 22px;
        }
        p{
            font-size: 16px;
        }
    } 
    .cta {
        .cta-container{
            h4{
                font-size: 26px;
            }
        } 
        &:after{
            bottom: -40%;
        }

    } 

}

.darklight{
    background: #181818;
}

.card-block{
    min-height: 191px;
    position: relative;
    background: #232323;
    padding: 70px 20px 30px 30px;
    .square {
        position: absolute;
        width: 80px;
        height: 80px;
        top: -30px;
        left: 30px;
        border-radius: 3px;
        color: #fff;
        text-align: center;
        line-height: 80px;
        font-size: 60px;
    }
    .color-cards-blue {
        background: #2979ff;
    }
    .color-cards-green {
        background: #00a99d;
    }

    
    h3 {
        color: #fff!important;
        font-size: 1.3rem;
        margin-bottom: 25px;
    }

    p {
        font-size: 14px;
        color: #fff;
    }
}

/*
    form {
      border: 3px solid #f1f1f1;
      font-family: Arial;
      max-width:600px;
    }
    .subscribe_heading {
        color: #00bcd4;
    }
    .hidden {
      display: none;
    }
    .container {
      padding: 20px;
      background-color: #f1f1f1;

    }
    
    input[type=text], input[type=submit] {
      width: 100%;
      padding: 12px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
    
    input[type=checkbox] {
      margin-top: 16px;
    }
    
    input[type=submit] {
      background-color: #4CAF50;
      color: white;
      border: none;
    }
    
    input[type=submit]:hover {
      opacity: 0.8;
    }
*/

.subscribe-box{
    border: 3px solid #f1f1f1;
    transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
    box-shadow: 0 0 10px 5px rgba(51, 51, 51, 10%);
    background: #b6b6b6;
    padding: 15px;
    overflow: hidden;
    position: relative;
    margin-top: 15px;
    

    &.d-shape{
        background: #d3d3d3;
    }
    p{
        line-height: 1.2rem;
    }
    h3{
        color: #00a99d;
        font-size: 1.2rem;
        font-weight: 600;
        text-transform: uppercase;
        padding-bottom: 10px;
        margin-bottom: 15px;
        border-bottom: 1px solid #9e9e9e;
     
    }

    .hidden {
        display: none;
      }
    input{
        width: 100%;
        font-size: 16px!important;
        line-height: 28px!important;
        padding: 10px 25px!important;
        border: 2px solid #232323;
        border-radius: 0px;
        background: 0 0;
        color: #000;
        outline: none;
        margin-bottom: 15px;
    }

    input.btn{
        background: #000;
        color: #fff;
        border: 0px;

        &:hover{            
            background: #00a99d;
        }
    }

}

.box-images-arrow{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 56px;
    line-height: 55px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    border-top: 1px solid #eee;
    display: block;
}


.box-images-arrow::before {
    background-color: #00a99d;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -20px;
    transform: translateY(100%);
    transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
    z-index: -1;
    
}
.box-images-arrow:hover{
    color: #fff;
}


.box-images-arrow:hover::before {
    transform: translateY(0);
}